*::before,
*,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;


}

html {

    box-sizing: border-box;

}

.body {

    min-height: 100vh;


}


.Box {

    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 3px dashed black;


}


.titel h1 {


    display: flex;
    justify-content: center;
    background-color: bisque;
}





.Container {
    flex-grow: 1;
    background-color: pink;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border: 2px solid black;
    margin: 10px;
    flex-basis: 50%;
}



.item {

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 65px;
    border: 1px dashed black;

}




.blockeen {


    background-color: purple;

}




.blockdrie {

    background-color: purple;

}



.blockvijf {


    background-color: purple;
}


.blockzeven {

    background-color: purple;


}


.blocknegen {


    background-color: purple;

}


.blockelf {


    background-color: purple;

}


.blockdertien {


    background-color: purple;

}