
h1{

font-size: 20px;


}

img{

margin-left:  20px;
margin-right: auto;
width: 25%;
border: 5px solid #555;

padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}

h2{

    margin-left:  400px;
    margin-right: auto;
    

}