img {
    width: 350px;
    height: auto;
  }

  img {
    border-radius: 15%;
  }




  

  img {
    width: 350px;
    height: auto;
    border-radius: 15%;
}

.PAPPI {
    width: 300px;
    height: auto;
    border-radius: 0;
}


.coloring {

    
}

